.header {
   background-color: white;
   height: 96px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 2rem;
}

.userSection {
   display: flex;
   align-items: center;
}

.userMenu {
   display: flex;
   align-items: center;
   gap: 4px;
   cursor: pointer;
   height: 30px;
}

.sair {
   background-color: #F4F4F4;
   border-radius: 4px;
   width: 120px;
   height: 50px;
   font: normal normal normal 18px/18px Roboto;
   color: #2A2A2A;
   cursor: pointer;
}

.sair p {
   margin: 1rem 0 1rem 1rem;
}
