.main {
   background-color: white;
   margin: 1.5rem;
   min-height: 77vh;
   max-height: fit-content;
   display: flex;
   align-items: center;
   justify-content: center;
}

.cardsDiv {
   width: 820px;
   flex-wrap: wrap;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.card {
   background-color: #F4F4F4;
   height: 150px;
   width: 250px;
   flex-direction: column;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 3rem;
}

.card p {
   margin: 0;
   color: #343A40;
}

.card div {
   width: 100%;
   text-align: center;
   height: 4.5em;
   background-color: white;
   box-shadow:0px 0px 0px 3px #F4F4F4 inset;
   display: flex;
   justify-content: center;
   align-items: center;
}