body {
   margin: 0;
   font-family: 'Roboto', sans-serif;
}

p {
   margin: 0;
}

h1 {
   margin: 0;
   text-align: center;
   font-weight: bold;
   font-size: 20px;
   font-family: Roboto;
   color: #3E4756;
}

h2 {
   margin: 0;
   font-weight: bold;
   font-size: 16px;
   font-family: Roboto;
   color: #3E4756;
}

.transition-enter {
   transform: translateX(100%);
}

.transition-enter-active {
   transform: translateX(0);
   transition: all 300ms ease-in;
}

.transition-exit {
   transform: translateX(0);
   transition: all 300ms ease-in;
}

.transition-exit-active {
   transform: translateX(100%);
   transition: all 300ms ease-in;
}